# Ignore JSON, CSV, and TXT files in the data/outputs directory
api_load_tests/data/outputs/*.json
api_load_tests/data/outputs/*.txt
api_load_tests/data/outputs/beta/email_names/*.html
api_load_tests/data/outputs/beta/email_names/*.csv
api_load_tests/data/outputs/beta/email_type/*.html
api_load_tests/data/outputs/beta/email_type/*.csv
api_load_tests/data/inputs/*.csv

# Igonre all the jsonl files
*.jsonl
